.content {
  align-items: center;
  border: 1px solid #555;
  border-radius: 4px;
  background: #ccc;
  display: flex;
  flex-wrap: wrap;
  height: 90vh;
  justify-content: flex-start;
  padding: 15px;
}