.modalConfirm {
  background: #fff;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 19px 60px, rgba(0, 0, 0, 0.22) 0 15px 20px;
  padding: 15px;
  text-align: center;
  width: 50%;
}
.modalOverlay {
  align-items: center;
  background: rgba(0, 0, 0, 0.54);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  word-wrap: break-word;
}
.modalHeader {
  color: #000;
  font-size: 32px;
  padding: 15px 15px 0;
}
.modalBody {
  color: #555;
  font-size: 16px;
  padding: 5px 15px;
}
.modalFooter {
  padding: 15px 15px 0;
}
.button {
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  padding: 8px 16px;
  margin: 0 2px;
  min-width: 100px;
  text-transform: uppercase;
  &:focus {
    outline: none;
  }
  &:active {
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px inset, rgba(0, 0, 0, 0.12) 0 1px 4px inset;
  }
}
.confirm {
  border: 1px solid #6383a8;
  background: #42a5f5;
  color: #e8eaf6;
}
.cancel {
  border: 1px solid #ccc;
  background: #e8eaf6;
  color: #555;
}